*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: antiquewhite;
    }
    
.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
.title h1 ::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: blue;
    display: block;
    margin: auto;
    
} 
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgb(216, 180, 221);
    border-radius: 10px;
    cursor: pointer;
}
.cards h2{
    font-size: 28px;
    margin-bottom: 20px;

}
.cards p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;

}
.cards:hover{
    background-color: white;
}
/* .button{
    font-size: 15px;
    text-decoration: none;
    color: blue;
    padding: 8px 12px; 
    border-radius: 5px;
     letter-spacing: 1px; 
}
.button:hover{
    background-color: rgb(120, 192, 188);
    transition: 0.4s;
} */
@media screen and(max-width:940px) {
    .services

{
    display: flex ;
    flex-direction: column;

}
.cards{
    width: 85%;
    display: flex;
    margin: 20px 0px;
}
}