/* admin dashboard */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  text-decoration: none;
}
:root {
  --red: #720026;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #333;
  --black2: #999;
}

/* body {
  min-height: 100vh;
  overflow-x: hidden;
} */

.container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: antiquewhite;
  border-left: 10px solid var(--red);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: white;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: black;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--red);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 40px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: solid 1px var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.user img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardbox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.cardbox .card {
  position: relative;
  background-color: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardbox .card .numbers {
  position: relative;
  font-size: 2.5em;
  font-weight: 600;
  color: black;
}

.cardbox .card .cardname {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}

.cardbox .card .iconbox {
  font-size: 3.5em;
  color: var(--black2);
}
.cardbox .card:hover {
  background: var(--red);
}

.cardbox .card:hover .numbers,
.cardbox .card:hover .cardname,
.cardbox .card:hover .iconbox {
  color: var(--white);
  transition: 0.5s;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 10px;
}
.details .recentorders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
}
.cardheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardheader h2 {
  font-weight: 700;
  color: var(--red);
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: var(--red);
  border: solid 2px var(--black1);
  color: var(--white);
  border-radius: 8px;
  text-decoration: none;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 700;
}

.details .recentorders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentorders table tr:last-child {
  border-bottom: none;
}
.details .recentorders table tbody tr:hover {
  background: var(--red);
  color: var(--white);
  transition: 0.5s;
}
.details .recentorders table tr td {
  padding: 10px;
}
.details .recentorders table tr td:last-child {
  text-align: end;
}
.details .recentorders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentorders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: chartreuse;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
.status.pending {
  padding: 2px 4px;
  background: #f9ca3f;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.status.inprogress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.recentcustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentcustomers .imgbox {
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.recentcustomers .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentcustomers table tr td {
  padding: 12px 10px;
}
.recentcustomers table tr td h4 {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.2em;
}
.recentcustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentcustomers table tr:hover {
  background: antiquewhite;
  color: black;
}

.recentcustomers table tr:hover td h4 span {
  color: black;
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardbox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentorders {
    overflow-x: auto;
  }
  .status.inprogress {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardbox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardheader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active.toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: #fff;
  }
}


/* INDEX CSS */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
    
.active, .nav-links ul li:hover{
    background: greenyellow;
    border-radius: 3px;
}
/* .about {
    display: none;

} 
.nav-links ul li:hover .about{
    display: block;
    position: absolute;
    margin-top:15px ;
    margin-left: -15px;
    background:rgb(130, 190, 170) ;
}
.nav-links ul li:hover .about ul{
    display: block;
    margin: 15px;
}
.nav-links ul li:hover .about ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-links ul li:hover .about ul li :last-child{
    border-bottom: none;
}
.nav-links ul li:hover .about ul li a:hover{
color: rgb(56, 51, 51);
cursor: pointer;} 

 .services {
    display: none;

} 
.nav-links ul li:hover .services{
    display: block;
    position: absolute;
    margin-top:15px ;
    margin-left: -15px;
    background:rgb(130, 190, 170) ;
}
.nav-links ul li:hover .services ul{
    display: block;
    margin: 15px;
}
.nav-links ul li:hover .services ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-links ul li:hover .services ul li :last-child{
    border-bottom: none;
}
.nav-links ul li:hover .services ul li a:hover{
color: rgb(56, 51, 51);
cursor: pointer;
} */



.Container{
    width: 85%;
    margin: 0 auto;
}
.nav{
    width:100%;
    background-color: rgb(130, 190, 170);
    /* flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding:8px 12px;
    position: relative;
    display:inline-block;

}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;

}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{/*doesnt work*/
    width:100%;

}

.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    /*1)top/bottom 2)left/right */
    margin: 0 10px;

}
.nav ul li::after{
    width: 0%;
    content:'';
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav ul li:hover::after{
    width: 100%;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: blue;
    border: 1px solid white;
    padding: 12px 34px;
    font-size:14px;
    background: transparent;
    position: relative;
    cursor: pointer;

} 
.hero-btn:hover{
    border: 1px solid black;
     background-color:  rgb(130, 190, 170);
     transition: 1s ;
}
.nav ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.Hero{
    padding-top: 30px;
    
}
.Hero .Container{
    display:flex;
    align-items: center;
}

.hero-description{
    text-align: center;
}
.hero-description p{
    font-size: 19px;

    
}
.hero-description a{
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
  
}
.how-it-works{
    background-color: antiquewhite; 
    padding-bottom: 50px;
}
.how .how-it-works a{
    text-decoration: none;
}
.how-it-works .container{
    padding: 50px 20px;
    text-align: center;
    border-radius: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}
.cardi{
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
}
.cardi:hover{
   background-color: rgb(130, 190, 170); 
}
.cardi i{
    font-size: 45px;
}
.cardi > *{
    margin:4px 0;
}
.main-spacing{
    /* margin top and bottom, margin left and right*/
    padding: 50px 0;
}
.why h1, .why p{
    text-align: center;
}
.row-spacing{
    width: 60%;
    margin: 0 auto;
}
.footer{
    background-color: black;
    color: white;
}
.footer p{
    text-align: center;
    font-weight: 700;
}
.homedrop,.header ul li:hover{
    /*background:greenyellow;*/
    border-radius: 3px;
}
.nav ul li a{
    text-decoration: none;
    
}
.about{
    display: none;
    
}
.nav ul li hover .about{
    display: block;
    position:absolute;
    margin-top: 15px;
    margin-left: -15px;
}
nav ul li hover .about ul
{
    display: block;
}
.main-spacing{
    text-align: center;
    font-weight: 700;
}
.nav .fa{
    display: none;
}
@media(max-width:700px){ /*smaller devices*/
    .nav-links ul li{
        display: block;
    } 
    .nav-links{
        position: absolute;
        background:turquoise;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        transition: 1s; 
    } 
    .nav .fa{
        display: block;
        margin: 10px;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}















/* ABOUT CSS */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
  
.active, .nav-links ul li:hover{
  background: greenyellow;
  border-radius: 3px;
}
.about {
  display: none;

}
.nav-links ul li:hover .about{
  display: block;
  position: absolute;
  margin-top:15px ;
  margin-left: -15px;
  background:rgb(130, 190, 170) ;
}
.nav-links ul li:hover .about ul{
  display: block;
  margin: 15px;
}
.nav-links ul li:hover .about ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid black;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.nav-links ul li:hover .about ul li :last-child{
  border-bottom: none;
}
.nav-links ul li:hover .about ul li a:hover{
color: rgb(56, 51, 51);
cursor: pointer;
}
.services {
  display: none;

}
.nav-links ul li:hover .services{
  display: block;
  position: absolute;
  margin-top:15px ;
  margin-left: -15px;
  background:rgb(130, 190, 170) ;
}
.nav-links ul li:hover .services ul{
  display: block;
  margin: 15px;
}
.nav-links ul li:hover .services ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid black;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.nav-links ul li:hover .services ul li :last-child{
  border-bottom: none;
}
.nav-links ul li:hover .services ul li a:hover{
color: rgb(56, 51, 51);
cursor: pointer;
}



.Container{
  width: 100%;
  margin: 0 auto;
}
.nav{
  width:100%;
  background-color: rgb(130, 190, 170);
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  padding:8px 12px;
  position: relative;
  display:inline-block;

}
.nav-links ul li a{
  text-decoration: none;
  color: white;
  font-size: 13px;

}
.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after{/*doesnt work*/
  width:100%;

}

.nav ul{
  list-style: none;
  display: flex;
}
.nav ul li{
  /*1)top/bottom 2)left/right */
  margin: 0 10px;

}
.nav ul li::after{
  width: 0%;
  content:'';
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav ul li:hover::after{
  width: 100%;

}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: blue;
  border: 1px solid white;
  padding: 12px 34px;
  font-size:14px;
  background: transparent;
  position: relative;
  cursor: pointer;

} 
.hero-btn:hover{
  border: 1px solid black;
   background-color:  rgb(130, 190, 170);
   transition: 1s ;
}
.nav ul li a{
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.Hero{
  padding-top: 30px;
  
}
.Hero .Container{
  display:flex;
  align-items: center;
}
.col{
  flex-basis: 50%;
  min-width: 300px;
}
.col img{
  max-width: 100%;
  padding: 5% 0;
}
.hero-description{
  text-align: center;
}
.hero-description p{
  font-size: 19px;

  
}
.hero-description a{
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;

}
.how-it-works{
  background-color: antiquewhite; 
  padding-bottom: 50px;
}
.how .how-it-works a{
  text-decoration: none;
}
.how-it-works .container{
  padding: 50px 20px;
  text-align: center;
  border-radius: 15px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}
.card{
  background-color: white;
  padding: 40px 20px;
  border-radius: 10px;
}
.card:hover{
 background-color: rgb(130, 190, 170); 
}
.card i{
  font-size: 45px;
}
.card > *{
  margin:4px 0;
}
.main-spacing{
  /* margin top and bottom, margin left and right*/
  padding: 50px 0;
}
.why h1, .why p{
  text-align: center;
}
.row-spacing{
  width: 60%;
  margin: 0 auto;
}
.contact{
  color: black;
   background-color: antiquewhite; 
}
.contact h1{
  text-align: center;
}
.contact form{
  width: 40%;
  /*center a div*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /*border width,type,color*/
  border: 2px solid black;
  padding: 40px;
  border-radius: 15px;
}
.contact form input{
  background-color: transparent;
  border: 2px solid black;
  margin: 10px 0;
  font-size: 15px;
  color: black;
  outline: 0;
  padding: 5px 10px;
  border-radius: 15px;
}
.contact form input[type=submit]{
 background-color: black;
 color: white;
 border: 0;
 cursor: pointer;
}
.footer{
  background-color: black;
  color: white;
}
.footer p{
  text-align: center;
  font-weight: 700;
}
.homedrop,.header ul li:hover{
  /*background:greenyellow;*/
  border-radius: 3px;
}
.nav ul li a{
  text-decoration: none;
  
}
.about{
  display: none;
  
}
.nav ul li hover .about{
  display: block;
  position:absolute;
  margin-top: 15px;
  margin-left: -15px;
}
nav ul li hover .about ul
{
  display: block;
}
.main-spacing{
  text-align: center;
  font-weight: 700;
}
.nav .fa{
  display: none;
}
@media(max-width:700px){ /*smaller devices*/
  .nav-links ul li{
      display: block;
  } 
  .nav-links{
      position: absolute;
      background:turquoise;
      height: 100vh;
      width: 200px;
      top:0;
      right: -200px;
      text-align: left;
      transition: 1s; 
  } 
  .nav .fa{
      display: block;
      margin: 10px;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 30px;

  }
}



/* LOGIN,REGISTER AND PAYMENT CSS */
body{
    
  background-color: antiquewhite;
}
.contact{
  color: black;
    background-color: antiquewhite;  
}
.contact h1{
  text-align: center;
}
.contact form{
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: 2px solid black;
  padding: 40px;
  border-radius: 15px;
}
.contact form input{
  background-color: transparent;
  border: 2px solid black;
  margin: 10px 0;
  font-size: 15px;
  color: black;
  outline: 0;
  padding: 5px 10px;
  border-radius: 15px;
}
.contact form input[type=submit]{
 background-color: black;
 color: white;
 border: 0;
 cursor: pointer;
}




/* SERVICES CSS */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: antiquewhite;
  }
  
.title h1{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}
.title h1 ::after{
  content: "";
  height: 4px;
  width: 230px;
  background-color: blue;
  display: block;
  margin: auto;
  
} 
.services{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}
.cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 20px 20px;
  background-color: rgb(216, 180, 221);
  border-radius: 10px;
  cursor: pointer;
}
.cards h2{
  font-size: 28px;
  margin-bottom: 20px;

}
.cards p{
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;

}
.cards:hover{
  background-color: white;
}
/* .button{
  font-size: 15px;
  text-decoration: none;
  color: blue;
  padding: 8px 12px; 
  border-radius: 5px;
   letter-spacing: 1px; 
}
.button:hover{
  background-color: rgb(120, 192, 188);
  transition: 0.4s;
} */
@media screen and(max-width:940px) {
  .services

{
  display: flex ;
  flex-direction: column;

}
.cards{
  width: 85%;
  display: flex;
  margin: 20px 0px;
}
}

/* Client Dashboard */
.page-title{
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  font-size: 25px;
}
.line{
  height: 1px;
  width: 100%;
  position: absolute;
  font-size: 50px;
  margin-left: 20px;
  margin-right: auto;
}

.table-container{
  width: 100%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 75px;
}
.mycol{
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
}
.card-1{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0, 0, 0, .2);
  margin-bottom: 1rem;
}
.card-primary.card-outline{
  border-top: 3px solid #720026;
}
.card-header-1{
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-bottom: 0;
}
.card-header-1 > .card-item{
  float: right;
  margin-right: -0.625rem;
}
.addbtn{
  display: block;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  border-width: 1px;
  box-shadow: none;
  background-color: #c5c7c9;
  color: #444;
  font-size: .875rem;
  line-height: 1.5;
  border-color: #720026;
  user-select: none;
  transition: color .15s ease-in-out, 
    background-color .15s ease-in-out, 
    border-color .15s ease-in-out;
}
.card-body-1{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.mini-wrapper{
  width: 100%;
}
.row-1{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.table-col{
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.mytable{
  width: 100%;
  border-spacing: 0;
}
.rhead:first-child, .rbody:first-child{
  border-left: 1px solid #dee2e6;
}
.rhead, .rbody{
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.btn-group{
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-main{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, 
    background-color .15s ease-in-out, 
    border-color .15s ease-in-out, 
    box-shadow .15s ease-in-out;
}
.btn-edit{
  position: relative;
  flex: 1 1 auto;
  cursor: pointer;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  color: #fff;
  background-color: rgb(130, 190, 170);
  border-color: rgb(130, 190, 170);
  text-decoration: none;
}
.btn-del{
  position: relative;
  flex: 1 1 auto;
  margin-left: -1px;
  cursor: pointer;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.container-fluid-1{
  width: 100%;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: auto;
  top: 70px;
}

.form-col{
  position: relative;
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.row-2{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}
.form-group{
  width: 50%;
  position: relative;
  margin-bottom: 1rem;
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.control-label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.form-control{
  display: block;
  width: 100%;
  padding:.375rem.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius:.25rem;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.line-3{
  border-color: #720026 !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.btn-1{
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(130, 190, 170);
  width: 120px;
}
.btn-2{
  text-align: center;
  width: 120px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(208, 11, 11);
  cursor: pointer;
}
.display-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex{
  display: flex;
}
.w-100{
  width: 100%;
}
.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.align-items{
  align-items: center;
}
.justify-content{
  justify-content: center;
}
.report-form{
  width: 100%;
  display: flex;
  align-items: center;
}
.mx-1{
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.btn-view{
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #720026;
}
.col-sm{
  flex:  0 0 25%;
  max-width: 25%;
}
.report-row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.reports-table{
  width: 100%;
  border-spacing: 0;
}
.error-display{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}








